.whole-container{
  background-image: url("background3-1.jpg");
}

body::-webkit-scrollbar{
display:none;

} 


.nav {
  margin-left: auto;
}

#homebutton{
  width: 100px;
  border-radius: 20px;
  border-color: rgba(255,255,255,0);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  transform: translate(-1500%,-40%);
  transition: background-color 0.2s, transform 0.2s; 
}


#loginbutton{
  width: 100px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: rgba(255,255,255,0.2);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  transform: translate(-225%,-40%);
  transition: background-color 0.2s, transform 0.2s; 
}

#loginbutton:hover{
  background-color: rgba(114, 114, 114, 0.2);
  border-color: rgba(114, 114, 114, 0);
}


#communitybutton{
  width: 100px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: rgba(255,255,255,0.2);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  transform: translate(-340%,-40%);
  transition: background-color 0.2s, transform 0.2s; 
}

#communitybutton:hover{
  background-color: rgba(114, 114, 114, 0.2);
  border-color: rgba(114, 114, 114, 0);
}

#mypagebutton{
  width: 100px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: rgba(255,255,255,0.2);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  transform: translate(-110%,-40%);
  transition: background-color 0.2s, transform 0.2s; 
}
#mypagebutton:hover{
  background-color: rgba(114, 114, 114, 0.2);
  border-color: rgba(114, 114, 114, 0);
}
#spinner{
  transform:translate(440%,190%);
}
.App {
  margin-top: 60px;
  text-align: center;
  padding-bottom: 200px;
  background-color: rgb(184, 176, 160);
}
#slider{
  height: 300px;
  background-color: aliceblue;
}
.slider-button {
  position: absolute;
  top:40%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  
  color: white;
  font-size: 60px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.slider-button-prev {
  left: 10px; /* Adjust the distance from the left edge */

}

.slider-button-next {
  right: 10px; /* Adjust the distance from the right edge */
 
}

#represent{
  width: 230px;
  height: 230px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
}
.app-main-content{
  margin-top: 150px;
}
.app-main-text{
  margin: 0 auto;
  margin-top: 140px;
}

#park-name{
  
  font-size: 20px;
}
#park-address{
  font-size: 17px;
}
#park-phone{
  font-size: 17px;
}
