.heartbutton{
    cursor:pointer;
    transition: transform 300ms ease;
    font-size: 20px;

  }
  .red{
  color:red;
  }
  h3 #text{     /* 기존 h3 */
  height: 20px;
  font-size: 20px;
  }
  .heartbutton:hover{
    transform: scale(1.1);
  }
  .icons-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

